7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Web References/AirBookTest/OTA_AirBookLLS11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OTA_AirBookRQ">
    <xs:annotation>
      <xs:documentation>Request to book an air segment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="POS">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Source">
                <xs:complexType>
                  <xs:attribute name="PseudoCityCode" use="required">
                    <xs:annotation>
                      <xs:documentation xml:lang="en">An identification code assigned to an office/agency by a reservation system.												</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="16" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TPA_Extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MessagingDetails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MDRSubset">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AirItinerary">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation xml:lang="en">Specifies the origin and destination of the traveler.
														Attributes:
														DirectionInd - A directional indicator that identifies a type of air booking, either one-way, round-trip, or open-jaw with the enumeration of (OneWay 														| RT 	| 		OpenJaw) 				respectively.
														ActionCode - Indicates the status of the booking, such as OK or Wait-List.
														NumberInParty - Indicates the traveler count.
														 </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="OriginDestinationOptions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="OriginDestinationOption">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>
													A container for flight segments.
													</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element maxOccurs="10" name="FlightSegment">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="DepartureAirport">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="LocationCode" use="required">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8																									</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1" />
                                              <xs:maxLength value="8" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute default="IATA" name="CodeContext" use="optional">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32																									</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1" />
                                              <xs:maxLength value="32" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ArrivalAirport">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="LocationCode" use="required">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8																									</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1" />
                                              <xs:maxLength value="8" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute default="IATA" name="CodeContext" use="optional">
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32																									</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1" />
                                              <xs:maxLength value="32" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="OperatingAirline">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="Code" use="required">
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8																									</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1" />
                                              <xs:maxLength value="8" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Equipment">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Specifies the aircraft equipment type.</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="AirEquipType" use="required">
                                          <xs:annotation>
                                            <xs:documentation>This is the 3 character IATA code.</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="3" />
                                              <xs:maxLength value="3" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="MarketingAirline">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Identifies a company by name.</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="Code" use="required">
                                          <xs:annotation>
                                            <xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8																									</xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:string">
                                              <xs:minLength value="1" />
                                              <xs:maxLength value="8" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="MarriageGrp">
                                  <xs:complexType>
                                    <xs:attribute default="false" name="Ind" type="xs:boolean" use="optional">
                                      <xs:annotation>
                                        <xs:documentation>Indicates there is an equipment change.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ActionCode" type="xs:string" use="required" />
                              <xs:attribute name="ArrivalDateTime" type="xs:string" use="optional" />
                              <xs:attribute name="BrandID" type="xs:string" use="optional" />
                              <xs:attribute name="DepartureDateTime" type="xs:string" use="required" />
                              <xs:attribute name="FlightNumber" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation> The flight number, or OPEN</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="NumberInParty" type="xs:integer" use="optional" />
                              <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Specific Booking Class for this segment.																									</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EchoToken" use="optional">
        <xs:annotation>
          <xs:documentation>A sequence number for additional message identification, assigned by the requesting host system. When a request 										message includes an echo token the corresponding response message MUST include an echo token with an identical value.											</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-	MM-					DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-	20T13:59:38Z).						</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Production" name="Target" use="optional">
        <xs:annotation>
          <xs:documentation>Used to indicate whether the request is for the Test or Production system.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Test" />
            <xs:enumeration value="Production" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
        <xs:annotation>
          <xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application 	to 					process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and 	needs to 				retrieve messages that were missed. </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PrimaryLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AltLangID" type="xs:language" use="optional">
        <xs:annotation>
          <xs:documentation>Identifes the primary language preference for the form of travel represented in a collection.
					 The human language is identified by ISO 639 codes.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>