7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Service References/ContentManager/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.navitaire.com/WebServices/DataContracts/Booking" />
  <xs:import namespace="http://schemas.navitaire.com/WebServices/DataContracts/Content" />
  <xs:element name="GetFareRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contract" type="xs:int" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Booking" minOccurs="0" name="request" nillable="true" type="q1:FareRuleRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFareRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Content" minOccurs="0" name="GetFareRuleResult" nillable="true" type="q2:FareRuleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>