7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Web References/AirPriceTest/OTA_AirPriceLLS11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://webservices.sabre.com/sabreXML/2003/07" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2003/07" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OTA_AirPriceRS">
    <xs:annotation>
      <xs:documentation>Comment describing your root element</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Success" type="xs:string" />
        <xs:element minOccurs="0" name="Warnings">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Warning">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="ShortText" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PricedItinerary">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="HeaderInformation">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation xml:lang="en">Specifies the origin and destination of the traveler.
														Attributes:
														DirectionInd - A directional indicator that identifies a type of air booking, either one-way, round-trip, or open-jaw with the enumeration of (OneWay 														| RT 	| 		OpenJaw) 				respectively.
														ActionCode - Indicates the status of the booking, such as OK or Wait-List.
														NumberInParty - Indicates the traveler count.
														 </xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="BargainFinder">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="24" name="AlternateBooking">
                            <xs:complexType>
                              <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="LastTicketingDate" type="xs:string" />
                    <xs:element minOccurs="0" name="ValidatingCarrier">
                      <xs:complexType>
                        <xs:attribute name="Code" type="xs:string" use="optional">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="AirItineraryPricingInfo">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Pricing Information for an Air Itinerary</xs:documentation>
                  </xs:annotation>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="PassengerTypeQuantity">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Specifies a PTC and the associated number of PTC's - for use in specifying passenger lists																					</xs:documentation>
                        </xs:annotation>
                        <xs:attribute name="Code" type="xs:string" use="optional" />
                        <xs:attribute name="Quantity" type="xs:string" use="optional">
                          <xs:annotation>
                            <xs:documentation>Used to define a quantity of an associated element or attribute.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ItinTotalFare">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Holds a base fare, tax, total and currency information on a price</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Warnings">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Warning">
                                  <xs:complexType>
                                    <xs:attribute name="ShortText" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="BaseFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="EquivFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Taxes">
                            <xs:complexType>
                              <xs:annotation>
                                <xs:documentation>Holds a base fare, tax, total and currency information on a price</xs:documentation>
                              </xs:annotation>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Tax">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                    <xs:attribute name="TaxCode" type="xs:string" use="optional" />
                                    <xs:attribute name="TaxName" type="xs:string" use="optional" />
                                    <xs:attribute name="TicketingTaxCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Commission">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                              <xs:attribute name="Percent" type="xs:decimal" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="PrivateFare">
                            <xs:complexType>
                              <xs:attribute name="Ind" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TotalFare">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:string" use="optional" />
                              <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PTC_FareBreakdown">
                      <xs:complexType>
                        <xs:annotation>
                          <xs:documentation>Per passenger type code pricing for this itinerary. Set if fareBreakdown was requested.</xs:documentation>
                        </xs:annotation>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FareBasis">
                            <xs:complexType>
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                              <xs:attribute name="ContractNumber" type="xs:string" use="optional" />
                              <xs:attribute name="CorporateID" type="xs:string" use="optional" />
                              <xs:attribute name="FarePassengerType" type="xs:string" use="optional" />
                              <xs:attribute name="FareType" type="xs:string" use="optional" />
                              <xs:attribute name="FilingCarrier" type="xs:string" use="optional" />
                              <xs:attribute name="GlobalInd" type="xs:string" use="optional" />
                              <xs:attribute name="Market" type="xs:string" use="optional" />
                              <xs:attribute name="TicketDesignator" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Surcharges">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Ind" type="xs:string" use="optional" />
                                  <xs:attribute name="Type" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="FareCalculation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketingFees">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FeeInformation">
                            <xs:complexType>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                              <xs:attribute name="ServiceType" type="xs:string" use="optional" />
                              <xs:attribute name="FunctionCode" type="xs:string" use="optional" />
                              <xs:attribute name="AccountData" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AncillaryFees">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FeeInformation">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxID" type="xs:string" />
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxAmount" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                              <xs:attribute name="Code" type="xs:string" use="optional" />
                              <xs:attribute name="NumFees" type="xs:integer" use="optional" />
                              <xs:attribute name="NameNumber" type="xs:decimal" use="optional" />
                              <xs:attribute name="SegmentNumber" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionalCharges">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ChargeDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="ChargeBreakdown">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="PassengerTypeQuantity">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                    <xs:attribute name="Group" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Base">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:string" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Equiv">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:string" use="optional" />
                                    <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Taxes">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation>Holds a base fare, tax, total and currency information on a price</xs:documentation>
                                    </xs:annotation>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tax">
                                        <xs:complexType>
                                          <xs:attribute name="Amount" type="xs:decimal" use="optional" />
                                          <xs:attribute name="TaxCode" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Ind" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Total">
                                  <xs:complexType>
                                    <xs:attribute name="Amount" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="NoChargeInd" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="DiscontinueDate" type="xs:string" />
                          <xs:element minOccurs="0" name="EffectiveDate" type="xs:string" />
                          <xs:element minOccurs="0" name="PurchaseBy" type="xs:string" />
                          <xs:element minOccurs="0" name="ReasonForIssuance">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="Code" type="xs:string" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="SSIM">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Code" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="SSR">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Code" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Ticket">
                            <xs:complexType>
                              <xs:attribute name="Number" type="xs:string" use="optional" />
                              <xs:attribute name="Simultaneous" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="TourCode">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Text" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="VendorPrefs">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Airline">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="CommericalName" type="xs:string" use="optional" />
                        <xs:attribute name="DisplayOnly" type="xs:string" use="optional" />
                        <xs:attribute name="EMDType" type="xs:string" use="optional" />
                        <xs:attribute name="FeeApplication" type="xs:string" use="optional" />
                        <xs:attribute name="FQTVTier" type="xs:string" use="optional" />
                        <xs:attribute name="GuaranteeInd" type="xs:string" use="optional" />
                        <xs:attribute name="IATAApplication" type="xs:string" use="optional" />
                        <xs:attribute name="NameNumber" type="xs:decimal" use="optional" />
                        <xs:attribute name="Owner" type="xs:string" use="optional" />
                        <xs:attribute name="RefundForm" type="xs:string" use="optional" />
                        <xs:attribute name="RPH" type="xs:string" use="optional" />
                        <xs:attribute name="SegmentJourneyCouponInd" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ItineraryInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightSegment">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="OriginLocation">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
                                    </xs:annotation>
                                    <xs:attribute name="LocationCode" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="DestinationLocation">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation xml:lang="en">Code and optional string to describe a location point.</xs:documentation>
                                    </xs:annotation>
                                    <xs:attribute name="LocationCode" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="MarketingAirline">
                                  <xs:complexType>
                                    <xs:attribute name="Code" type="xs:string" use="optional">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="FlightNumber" type="xs:string" use="optional">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">Identifies a company by the company code.</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="DepartureDateTime" type="xs:string" use="optional" />
                              <xs:attribute name="FlightNumber" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation> The flight number of the flight.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="ResBookDesigCode" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation> The flight number of the flight.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="SegmentNumber" type="xs:integer" use="optional" />
                              <xs:attribute name="Status" type="xs:string" use="optional">
                                <xs:annotation>
                                  <xs:documentation> Specifies the Dept. of Transport on time rate of the  flight.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="BookingMethodReq" type="xs:string" use="optional" />
                        <xs:attribute name="SegmentCount" type="xs:integer" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="CurrencyCode" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>Assigns a number to priced itineraries.		</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TotalAmount" type="xs:decimal" use="optional">
              <xs:annotation>
                <xs:documentation>Assigns a number to priced itineraries.		</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="TPA_Extensions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="HostCommand" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Errors">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Error">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ErrorInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Message" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ErrorCode" type="xs:string" use="optional" />
                  <xs:attribute name="Severity" type="xs:string" use="optional" />
                  <xs:attribute name="ErrorMessage" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="TimeStamp" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-	MM-					DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2003, 1:59:38 pm UTC becomes 2003-11-	20T13:59:38Z).						</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string" use="optional">
        <xs:annotation>
          <xs:documentation>For all OTA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>