7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Web References/PrintVoucher/Voucher.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviaVoucher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sReservacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDestinatarios" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaVoucherResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendVoucherBanco">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="organizacionId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="asunto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendVoucherBancoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviaVoucherSoapIn">
    <wsdl:part name="parameters" element="tns:EnviaVoucher" />
  </wsdl:message>
  <wsdl:message name="EnviaVoucherSoapOut">
    <wsdl:part name="parameters" element="tns:EnviaVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="SendVoucherBancoSoapIn">
    <wsdl:part name="parameters" element="tns:SendVoucherBanco" />
  </wsdl:message>
  <wsdl:message name="SendVoucherBancoSoapOut">
    <wsdl:part name="parameters" element="tns:SendVoucherBancoResponse" />
  </wsdl:message>
  <wsdl:portType name="VoucherSoap">
    <wsdl:operation name="EnviaVoucher">
      <wsdl:input message="tns:EnviaVoucherSoapIn" />
      <wsdl:output message="tns:EnviaVoucherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendVoucherBanco">
      <wsdl:input message="tns:SendVoucherBancoSoapIn" />
      <wsdl:output message="tns:SendVoucherBancoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VoucherSoap" type="tns:VoucherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaVoucher">
      <soap:operation soapAction="http://tempuri.org/EnviaVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVoucherBanco">
      <soap:operation soapAction="http://tempuri.org/SendVoucherBanco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VoucherSoap12" type="tns:VoucherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaVoucher">
      <soap12:operation soapAction="http://tempuri.org/EnviaVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVoucherBanco">
      <soap12:operation soapAction="http://tempuri.org/SendVoucherBanco" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Voucher">
    <wsdl:port name="VoucherSoap" binding="tns:VoucherSoap">
      <soap:address location="http://200.53.149.68/Portal/MyCTSSecureServices/Voucher.asmx" />
    </wsdl:port>
    <wsdl:port name="VoucherSoap12" binding="tns:VoucherSoap12">
      <soap12:address location="http://200.53.149.68/Portal/MyCTSSecureServices/Voucher.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>