7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Service References/SessionManager/Session.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Session" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Session" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogonRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogonRequestData" nillable="true" type="tns:LogonRequestData" />
</xs:schema>