7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Service References/APIInterJet/InterJet2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InterJet" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CTS.Entities" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Booking" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Navitaire.NewSkies.WebServices.DataContracts.Common.Enumerations" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd7" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
      <xsd:import schemaLocation="http://pc4037:5498/CTSServices/InterJet.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInterJet_SeeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:SeeNumber" />
  </wsdl:message>
  <wsdl:message name="IInterJet_SeeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IInterJet_GetSeatAvailabilityWSList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatAvailabilityWSList" />
  </wsdl:message>
  <wsdl:message name="IInterJet_GetSeatAvailabilityWSList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatAvailabilityWSListResponse" />
  </wsdl:message>
  <wsdl:message name="IInterJet_AssingSeatWS_InputMessage">
    <wsdl:part name="parameters" element="tns:AssingSeatWS" />
  </wsdl:message>
  <wsdl:message name="IInterJet_AssingSeatWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssingSeatWSResponse" />
  </wsdl:message>
  <wsdl:message name="IInterJet_GetAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailability" />
  </wsdl:message>
  <wsdl:message name="IInterJet_GetAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IInterJet_GetItineraryPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryPrice" />
  </wsdl:message>
  <wsdl:message name="IInterJet_GetItineraryPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItineraryPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IInterJet_Confirmation_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirmation" />
  </wsdl:message>
  <wsdl:message name="IInterJet_Confirmation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmationResponse" />
  </wsdl:message>
  <wsdl:portType name="IInterJet">
    <wsdl:operation name="SeeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterJet/SeeNumber" message="tns:IInterJet_SeeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterJet/SeeNumberResponse" message="tns:IInterJet_SeeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeatAvailabilityWSList">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterJet/GetSeatAvailabilityWSList" message="tns:IInterJet_GetSeatAvailabilityWSList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterJet/GetSeatAvailabilityWSListResponse" message="tns:IInterJet_GetSeatAvailabilityWSList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssingSeatWS">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterJet/AssingSeatWS" message="tns:IInterJet_AssingSeatWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterJet/AssingSeatWSResponse" message="tns:IInterJet_AssingSeatWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterJet/GetAvailability" message="tns:IInterJet_GetAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterJet/GetAvailabilityResponse" message="tns:IInterJet_GetAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItineraryPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterJet/GetItineraryPrice" message="tns:IInterJet_GetItineraryPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterJet/GetItineraryPriceResponse" message="tns:IInterJet_GetItineraryPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirmation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterJet/Confirmation" message="tns:IInterJet_Confirmation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterJet/ConfirmationResponse" message="tns:IInterJet_Confirmation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInterJet" type="tns:IInterJet">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeeNumber">
      <soap:operation soapAction="http://tempuri.org/IInterJet/SeeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeatAvailabilityWSList">
      <soap:operation soapAction="http://tempuri.org/IInterJet/GetSeatAvailabilityWSList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssingSeatWS">
      <soap:operation soapAction="http://tempuri.org/IInterJet/AssingSeatWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailability">
      <soap:operation soapAction="http://tempuri.org/IInterJet/GetAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItineraryPrice">
      <soap:operation soapAction="http://tempuri.org/IInterJet/GetItineraryPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirmation">
      <soap:operation soapAction="http://tempuri.org/IInterJet/Confirmation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterJet">
    <wsdl:port name="BasicHttpBinding_IInterJet" binding="tns:BasicHttpBinding_IInterJet">
      <soap:address location="http://pc4037:5498/CTSServices/InterJet.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>