7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Web References/MyCTSGEAComunication/GeaComunication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Org_Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateReservationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PNR" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orgId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateInvoiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateReservationSoapIn">
    <wsdl:part name="parameters" element="tns:CreateReservation" />
  </wsdl:message>
  <wsdl:message name="CreateReservationSoapOut">
    <wsdl:part name="parameters" element="tns:CreateReservationResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateInvoice" />
  </wsdl:message>
  <wsdl:message name="ValidateInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="GEAComunicationSoap">
    <wsdl:operation name="CreateReservation">
      <wsdl:input message="tns:CreateReservationSoapIn" />
      <wsdl:output message="tns:CreateReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateInvoice">
      <wsdl:input message="tns:ValidateInvoiceSoapIn" />
      <wsdl:output message="tns:ValidateInvoiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GEAComunicationSoap" type="tns:GEAComunicationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReservation">
      <soap:operation soapAction="http://tempuri.org/CreateReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateInvoice">
      <soap:operation soapAction="http://tempuri.org/ValidateInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GEAComunicationSoap12" type="tns:GEAComunicationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateReservation">
      <soap12:operation soapAction="http://tempuri.org/CreateReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateInvoice">
      <soap12:operation soapAction="http://tempuri.org/ValidateInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GEAComunication">
    <wsdl:port name="GEAComunicationSoap" binding="tns:GEAComunicationSoap">
      <soap:address location="http://200.52.81.206/GeaWebService/GeaComunication.asmx" />
    </wsdl:port>
    <wsdl:port name="GEAComunicationSoap12" binding="tns:GEAComunicationSoap12">
      <soap12:address location="http://200.52.81.206/GeaWebService/GeaComunication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>