7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Service References/ContentManagerTest/ContentManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://schemas.navitaire.com/WebServices" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ContentManager" targetNamespace="http://schemas.navitaire.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IContentManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.navitaire.com/WebServices/Imports">
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd0" namespace="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" />
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices" />
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Content" />
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd6" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" />
      <xsd:import schemaLocation="https://ijtestr3xapi.navitaire.com/ContentManager.svc?xsd=xsd7" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Booking" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FindContentsRequest">
    <wsdl:part xmlns:q1="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q1:FindContentsRequest" />
  </wsdl:message>
  <wsdl:message name="FindContentsRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="FindContentsResponse">
    <wsdl:part xmlns:q2="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q2:FindContentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContentRequest">
    <wsdl:part xmlns:q3="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q3:GetContentRequest" />
  </wsdl:message>
  <wsdl:message name="GetContentRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetContentResponse">
    <wsdl:part xmlns:q4="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q4:GetContentResponse" />
  </wsdl:message>
  <wsdl:message name="CommitContentRequest">
    <wsdl:part xmlns:q5="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q5:CommitContentRequest" />
  </wsdl:message>
  <wsdl:message name="CommitContentRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitContentResponse">
    <wsdl:part xmlns:q6="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q6:CommitContentResponse" />
  </wsdl:message>
  <wsdl:message name="GetFareRuleInfoRequest">
    <wsdl:part xmlns:q7="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q7:FareRuleRequest" />
  </wsdl:message>
  <wsdl:message name="GetFareRuleInfoRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetFareRuleInfoResponse">
    <wsdl:part xmlns:q8="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q8:GetFareRuleInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IContentManager">
    <wsdl:operation name="FindContents">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContents" name="FindContentsRequest" message="tns:FindContentsRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsResponse" name="FindContentsResponse" message="tns:FindContentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContent" name="GetContentRequest" message="tns:GetContentRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentResponse" name="GetContentResponse" message="tns:GetContentResponse" />
    </wsdl:operation>
    <wsdl:operation name="CommitContent">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/CommitContent" name="CommitContentRequest" message="tns:CommitContentRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/CommitContentResponse" name="CommitContentResponse" message="tns:CommitContentResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetFareRuleInfo">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfo" name="GetFareRuleInfoRequest" message="tns:GetFareRuleInfoRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoResponse" name="GetFareRuleInfoResponse" message="tns:GetFareRuleInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContentManager" type="tns:IContentManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IContentManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindContents">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IContentManager/FindContents" style="document" />
      <wsdl:input name="FindContentsRequest">
        <soap:header message="tns:FindContentsRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:FindContentsRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindContentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IContentManager/GetContent" style="document" />
      <wsdl:input name="GetContentRequest">
        <soap:header message="tns:GetContentRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetContentRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitContent">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IContentManager/CommitContent" style="document" />
      <wsdl:input name="CommitContentRequest">
        <soap:header message="tns:CommitContentRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitContentRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitContentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFareRuleInfo">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfo" style="document" />
      <wsdl:input name="GetFareRuleInfoRequest">
        <soap:header message="tns:GetFareRuleInfoRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetFareRuleInfoRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetFareRuleInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentManager">
    <wsdl:port name="BasicHttpBinding_IContentManager" binding="tns:BasicHttpBinding_IContentManager">
      <soap:address location="https://ijtestr3xapi.navitaire.com/ContentManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>