7.-App de resevas y compras de viajes y hoteles.- SQLServer, C#, Enty Framework/Services/MyCTS.Services/Web References/BuildElectronicTicketCFE/PDFGeneratorCFEWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuildPDFDocumentsCFE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticketNumber" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="urlVirtuallyThere" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="airline" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuildPDFDocumentsCFEResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuildPDFDocumentsCFESoapIn">
    <wsdl:part name="parameters" element="tns:BuildPDFDocumentsCFE" />
  </wsdl:message>
  <wsdl:message name="BuildPDFDocumentsCFESoapOut">
    <wsdl:part name="parameters" element="tns:BuildPDFDocumentsCFEResponse" />
  </wsdl:message>
  <wsdl:portType name="PDFGeneratorCFEWSSoap">
    <wsdl:operation name="BuildPDFDocumentsCFE">
      <wsdl:input message="tns:BuildPDFDocumentsCFESoapIn" />
      <wsdl:output message="tns:BuildPDFDocumentsCFESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PDFGeneratorCFEWSSoap" type="tns:PDFGeneratorCFEWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildPDFDocumentsCFE">
      <soap:operation soapAction="http://tempuri.org/BuildPDFDocumentsCFE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PDFGeneratorCFEWSSoap12" type="tns:PDFGeneratorCFEWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildPDFDocumentsCFE">
      <soap12:operation soapAction="http://tempuri.org/BuildPDFDocumentsCFE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDFGeneratorCFEWS">
    <wsdl:port name="PDFGeneratorCFEWSSoap" binding="tns:PDFGeneratorCFEWSSoap">
      <soap:address location="http://201.149.13.14:5498/PDFGeneratorCFE/PDFGeneratorCFEWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PDFGeneratorCFEWSSoap12" binding="tns:PDFGeneratorCFEWSSoap12">
      <soap12:address location="http://201.149.13.14:5498/PDFGeneratorCFE/PDFGeneratorCFEWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>